<%= title l(:label_wiki_page_new) %>

<%= labelled_form_for :page, @page,
            :url => new_project_wiki_page_path(@project) do |f| %>

  <%= render_error_messages @page.errors.full_messages_for(:title) %>

  <div class="box tabular">
    <p>
      <%= f.text_field :title, :name => 'title', :size => 60, :required => true %>
      <em class="info"><%= l(:text_unallowed_characters) %>: , . / ? ; : |</em>
    </p>
    <p>

    <!-- 추가 -->
    <% if params[:parent].present? %>
      <label class="inline">
        <%= check_box_tag 'parent', params[:parent], true %>
        <%= l(:field_parent_title) %>: <%= params[:parent_title] %> (<%= params[:parent] %>)
        <input type="hidden" name="parent_title" value="<%= params[:parent_title] %>">
      </label>
    <% end %>
    </p>
  </div>

  <%= submit_tag(l(:label_next)) %>
  <%= link_to l(:button_cancel), :controller => 'wiki', :action => 'show', :project_id => @project %>

<% end %>
